<!DOCTYPE html>
<html lang="{{ locale }}" style="
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --primary-wave: #090909;
  --secondary-wave: #909090;
  --menu-color: 0, 0, 0;
  --box-shadow-color: 0, 0, 0;
">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('/img/icon.jpg') }}">
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
{% block stylesheets %}
{% endblock %}
    <script src="{{ asset('/js/twemoji.min.js') }}"></script>
    <script src="{{ asset('/js/script.js') }}"></script>
    <script src="{{ asset('/js/typeWriter.js') }}"></script>
    <script src="{{ asset('/js/loadingPage.js') }}"></script>
    <script src="{{ asset('/js/theme.js') }}"></script>
    <script src="{{ asset('/js/delayOnClick.js') }}"></script>
    <script src="{{ asset('/js/nothingSpecial.js') }}"></script>
{% block javascripts %}
{% endblock %}
  </head>
  <body>
    <div class="wave-center" id="loading-container">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
{% include "navbar.html.twig" %}
    <div class="content">
{% block body %}{% endblock %}
    </div>
{% include "footer.html.twig" %}
  </body>
</html>
