<div class="footer">
  <footer>󱤹 Copyleft 2024. <a href="https://github.com/KazmirBO/portfolio" target="_blank" rel="noopener noreferrer">{{ 'source_code'|trans }}</a>.<br>{{ 'made_by'|trans }} <a href="javascript:delay('{{ path('app_home') }}')">Sebastian Kolanowski</a>. {{ 'powered_by'|trans }} <a href="https://symfony.com" target="_blank" rel="noopener noreferrer">Symfony</a>.</footer>
</div>
<img src="{{ asset('/img/avatar2.png') }}" width="0px" height="0px" alt="Easter egg" />
