<nav class="menu">
{% if app.request.attributes.get('_route') != 'app_home' %}
  <button onclick="javascript:delay('{{ path('app_home') }}')"><span class="menu-text">{{ 'home'|trans }} </span><span class="menu-icon"></span></button>
{% else %}
  <button class="button-deactivate"><span class="menu-text">{{ 'home'|trans }} </span><span class="menu-icon"></span></button>
{% endif %}
{% if app.request.attributes.get('_route') != 'app_about' %}
  <button onclick="javascript:delay('{{ path('app_about') }}')"><span class="menu-text">{{ 'about'|trans }} </span><span class="menu-icon"></span></button>
{% else %}
  <button class="button-deactivate"><span class="menu-text">{{ 'about'|trans }} </span><span class="menu-icon"></span></button>
{% endif %}
{% if app.request.attributes.get('_route') != 'app_contact' %}
  <button onclick="javascript:delay('{{ path('app_contact') }}')"><span class="menu-text">{{ 'contact'|trans }} </span><span class="menu-icon">󰍩</span></button>
{% else %}
  <button class="button-deactivate"><span class="menu-text">{{ 'contact'|trans }} </span><span class="menu-icon">󰍩</span></button>
{% endif %}
  <span class="menu-icon"></span>
  <button onclick="window.open('https://github.com/KazmirBO', '_blank').focus()"><span class="menu-text">{{ 'github'|trans }} </span><span class="menu-icon">󰊤</span></button>
  <button onclick="window.open('https://www.facebook.com/KazmirBO', '_blank').focus()"><span class="menu-text">{{ 'facebook'|trans }} </span><span class="menu-icon">󰈌</span></button>
  <span class="menu-icon"></span>
{% if locale != 'pl' %}
  <button style="padding: 15px;" onclick="javascript:delay('{{ path(app.request.attributes.get('_route'), {'_locale': 'pl'}) }}')"><b>PL</b></button>
{% else %}
  <button style="padding: 15px;" class="button-deactivate"><b>PL</b></button>
{% endif %}
{% if locale != 'en' %}
  <button style="padding: 15px;" onclick="javascript:delay('{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}')"><b>EN</b></button>
{% else %}
  <button style="padding: 15px;" class="button-deactivate"><b>EN</b></button>
{% endif %}
  <span class="menu-icon"></span>
  <button onclick="themeToggle()"><span class="menu-text">{{ 'theme'|trans }} </span><span class="menu-icon">󰔎</span></button>
</nav>

