<nav class="menu">
{% if app.request.attributes.get('_route') != 'app_home' %}
  <button onclick="javascript:_delay('{{ path('app_home') }}')">{{ 'home'|trans }}  </button>
{% else %}
  <button class="disable">{{ 'home'|trans }}  </button>
{% endif %}
{% if app.request.attributes.get('_route') != 'app_about' %}
  <button onclick="javascript:_delay('{{ path('app_about') }}')">{{ 'about'|trans }}  </button>
{% else %}
  <button class="disable">{{ 'about'|trans }}  </button>
{% endif %}
{% if app.request.attributes.get('_route') != 'app_contact' %}
  <button onclick="javascript:_delay('{{ path('app_contact') }}')">{{ 'contact'|trans }} 󰍩 </button>
{% else %}
  <button class="disable">{{ 'contact'|trans }} 󰍩 </button>
{% endif %}
  
  <button onclick="window.open('https://github.com/KazmirBO', '_blank').focus()">{{ 'github'|trans }} 󰊤 </button>
  <button onclick="window.open('https://www.facebook.com/KazmirBO', '_blank').focus()">{{ 'facebook'|trans }} 󰈌 </button>
  
{% if locale != 'pl' %}
  <button onclick="javascript:_delay('{{ path(app.request.attributes.get('_route'), {'_locale': 'pl'}) }}')"><b>PL</b></button>
{% else %}
  <button class="disable"><b>PL</b></button>
{% endif %}
{% if locale != 'en' %}
  <button onclick="javascript:_delay('{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}')"><b>EN</b></button>
{% else %}
  <button class="disable"><b>EN</b></button>
{% endif %}
  
  <button onclick="_themeToggle()">{{ 'theme'|trans }} 󰔎 </button>
</nav>

<nav class="responsive-menu">
  <button onclick="javascript:_delay('{{ path('app_home') }}')">  </button>
  <button onclick="javascript:_delay('{{ path('app_about') }}')">  </button>
  <button onclick="javascript:_delay('{{ path('app_contact') }}')"> 󰍩 </button>
  
  <button onclick="globalThis.open('https://github.com/KazmirBO', '_blank').focus()"> 󰊤 </button>
  <button onclick="globalThis.open('https://www.facebook.com/KazmirBO', '_blank').focus()"> 󰈌 </button>
  
  <button onclick="javascript:_delay('{{ path(app.request.attributes.get('_route'), {'_locale': 'pl'}) }}')"><b>PL</b></button>
  <button onclick="javascript:_delay('{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}')"><b>EN</b></button>
  
  <button onclick="_themeToggle()"> 󰔎 </button>
</nav>
